*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#carouselContainer {
  width: 80%;
  margin: auto;
  position: relative;
  overflow: hidden;
}

#carouselSlideWrapper {
  position: relative;
}

#carouselText {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
  padding: 20px;
}

#carouselThumbnails {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#carouselContainer img {
  width: 100%;
  display: block;
}

#prevButton, #nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 100;
}

#prevButton {
  left: 0;
}

#nextButton {
  right: 0;
}
